In [1]:
9 % 2

1

In [9]:
X = 6

In [11]:
X
name = 'Jake'

In [4]:
#STRINGS

In [5]:
'single quotes'

'single quotes'

In [6]:
"hello"

'hello'

In [7]:
print('hello')

hello

In [14]:
print("My number is {} and my name is {}".format(X,name))

My number is 6 and my name is Jake

In [15]:
print("My number is {first} and my name is {second}, variable formating {first}".format(first=X,second=name))

My number is 6 and my name is Jake, variable formating 6

In [16]:
#lets doo some fuckin indexing!
s ='abcdefghijkl'
# s is a string

In [17]:
s[0]

'a'

In [19]:
s[0:]

'abcdefghijkl'

In [23]:
s[:3]
#up to but not including 3. since 3 = d

'abc'

In [21]:
s[2:5]

'cde'

In [24]:
#lists!!

In [27]:
my_list= ['a', 'b', 'c']
my_list

['a', 'b', 'c']

In [29]:
#lists use same indexing as strings
my_list[2]

'c'

In [31]:
my_list.append('d')
my_list

['a', 'b', 'c', 'd']

In [32]:
#you can nest lists inside each other
nest = [1,2,[3,4]]
nest

[1, 2, [3, 4]]

In [33]:
nest[2][1]

4

In [36]:
#Dictionaries!!!  Dictionaries behave as key value pairs instead of holding elements in a sequenced position. 
#dicts use curly brackets

In [37]:
d = {'key1':'value', 'key2':123}
d

{'key1': 'value', 'key2': 123}

In [38]:
d['key1']

'value'

In [39]:
#dictionaires can hold lists, strings, other dictionaires and probably more

In [40]:
#BOOLEANS
True

True

In [42]:
#TOUPLES
t = (1,2,3)
t

(1, 2, 3)

In [43]:
t[0]

1

In [44]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [45]:
#touples are like PDFs. The items inside a touple cannot be altered!

In [46]:
#curly brackets will define a "set" Sets only contain unique elements

In [47]:
sets = {1,2,2,3,4,4}

In [48]:
sets

{1, 2, 3, 4}

In [53]:
if 1>1:
    print('python uses colons for indentations')
elif 1==1:
    print('woo')

woo

In [54]:
#iterate through a sequence
seq = [1,2,3,4,5]

In [55]:
for item in seq:
    print(item)

1
2
3
4
5

In [56]:
i =1
while i<5:
    print('i is: {}'.format(i))
    i= i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [57]:
range(0,5)

range(0, 5)

In [58]:
for x in range(0,5):
    print(x)

0
1
2
3
4

In [59]:
list(range(0,5))

[0, 1, 2, 3, 4]

In [64]:
#list comprehension
x = list(range(1,5))
x

[1, 2, 3, 4]

In [65]:
out = []

for num in x:
    out.append(num**2)
out

[1, 4, 9, 16]

In [69]:
#faster way to do the above cell using list comprehension!
out = [num**2 for num in x]
out

[1, 4, 9, 16]

In [75]:
# define a function
def my_func(param1):
    print('hello ' + param1)

In [76]:
my_func('Jake')

hello Jake

In [78]:
def square(num):
    return num**2

In [80]:
output = square(4)

output

16

In [81]:
#tripple enclosing quotes puts a multiline string for adding documentation to a string
#use shift+tab to view inputs and documentation for a given function

In [6]:
#Green words are called keywords. Such as def when defining a function

In [8]:
def times2(input_var):
    return input_var*2

In [2]:
seq = [1,2,3,4,5]

In [11]:
seq

[1, 2, 3, 4, 5]

In [ ]:
#map function can map a given function iteratively across a list. Must cast output into a list though

In [10]:
list(map(times2, seq))

[2, 4, 6, 8, 10]

In [12]:
#use a lambda expression to make code shorter

In [16]:
#can write previous function in one line
def times2(var):return var*2
#but we could make it shorter
t = lambda var:var*2

In [18]:
t(6)

12

In [19]:
# but a more useful way to use lambda is to use it inside a map function
list(map(lambda var:var*2, seq))

[2, 4, 6, 8, 10]

In [23]:
#filter combined with a lambda function is a useful way to apply a given criteria to a list
list(filter(lambda num:num%2 ==0,seq))

[2, 4]

In [24]:
#METHODS
s = 'hello my name is jake'

In [29]:
#type "s." and then hit tab to view all the available methods for this string
s.upper
s

'hello my name is jake'

In [30]:
s.split
s

'hello my name is jake'

In [32]:
s.split('m')

['hello ', 'y na', 'e is jake']

In [34]:
#Dictionary Methods
#.item()
#.keys()

In [36]:
#touple unpacking
x = [(1,2),(3,4),(5,6)]
x

[(1, 2), (3, 4), (5, 6)]

In [38]:
for a,b in x:
    print(b)

2
4
6